<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/Scripts/Custom/GoogleMaps.js"></script>

<div id="map"></div>


@{
	// todo: read from environment variable

	var GoogleMapsApiKey = "";
	var googleMapsSrc = "https://maps.googleapis.com/maps/api/js?key=" + GoogleMapsApiKey + "&callback=initMap&libraries=places&v=weekly";
}

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="@googleMapsSrc" aysnc></script>



@* todo next
	https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on
	https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/aspnet-mvc-5-app-with-sms-and-email-two-factor-authentication
	https://dev.to/skipperhoa/login-and-register-using-asp-net-mvc-5-3i0g
	*@