@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<div class="card">
	<div class="card-body">
		<h1 class="card-title text-danger">Locked out.</h1>
		<h2 class="card-title text-danger">This account has been locked out, please try again later.</h2>
	</div>
</div>
