@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="card">
	<div class="card-body">
		<h1 class="card-title">@ViewBag.Title.</h1> 
		<p class="card-body">
			Please check your email to reset your password.
		</p>
	</div>
</div>