@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3755 SE 32nd Ave<br />
    Portland, OR 97202<br />
    <div>P: 555.816.8008</div>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Less Supportive Support:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>